<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <a href="#">CONTACT US</a>
        <a href="#">ABOUT US</a>
        <a href="#">JOIN OUR COMMUNITY</a>
    </nav>
    <main>
        <section class="subjects">

            <div class="card">
                <h3>MATH</h3>
            </div>

            <div class="card">
                <h3>PHYSICS</h3>
            </div>

            <div class="card">
                <h3>BIOLOGY</h3>
            </div>

            <div class="card">
                <h3>ENGLISH</h3>
            </div>

            <div class="card">
                <h3>LITERATURE</h3>
            </div>

            <div class="card">
                <h3>MUSIC</h3>
            </div>

        </section>
        <section class="pricing">

            <div class="price-card">
                <h3>ELEMENTARY</h3>
                <p>$10</p>
            </div>
            <div class="price-card">
                <h3>SECONDARY</h3>
                <p>$15</p>
            </div>

            <div class="price-card">
                <h3>HIGH SCHOOL</h3>
                <p>$20</p>
            </div>
        How is your day ?
        </section>

    </main>

</body>
</html>